
   @import 'variables';
  


*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}


html, body {
    height: 100%;
    

}

body {
    font-family: $body-font;
}

h1, h2 {
    text-align: center;
}

@keyframes shimmer {
    0% { background-position: -200% 0;}
    100% { background-position: 200% 0;}
}

@keyframes gradientMove {
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}