    //Colors
    $teal: #01555f;
    $blush: #e79fa6;
    $rose: #ce505c;

    //Fonts
    $heading-font: "Playfair Display", serif;
    $body-font: "Source Sans 3", sans-serif;

    //Spacing
    $base-spacing: 10px;